[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flask = "*"
v = {editable = true,version = "*"}
flask-wtf = "*"
flask-cors = "*"

[packages]
flask-caching = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-mysqldb = "*"

[requires]
python_version = "3.7"
