[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flask = "*"
v = {editable = true,version = "*"}
flask-wtf = "*"

[packages]
flask-caching = "*"

[requires]
python_version = "3.6"
